robotframework>=4.0.0
robotframework-browser>=17.0.0
rpaframework>=22.0.0
pyyaml
pandas
robotframework-excellibrary
robotframework-ai
robotframework-heal
faker
robotframework-faker
robotframework-requests
robotframework-seleniumlibrary
robotframework-jsonlibrary
robotframework-datadriver
requests
openpyxl
xlrd
robotframework-sshlibrary
robotframework-ftp
robotframework-database-library
robotframework-robocop
robotframework-pabot
robotframework-reportportal
robotframework-appiumlibrary
robotframework-archivelibrary
robotframework-httplibrary
robotframework-xmllibrary
robotframework-logging
httpie
thefuck
csvkit
poetry
pipx